html {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#page1 {
    background-image: url("../images/kids-girl-pencil-drawing-159823.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    display: block;
}

#page2 {
    background-image: url("../images/healthy-fruits-morning-kitchen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    display: block;
}

#good_calendars {
    display: block;
    margin: 0 auto;
}

#calendar_box {
    height: 220px;
    width: 340px;
    top: 150px;
    margin: 0 auto;
    display: block;
    opacity: 0;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

input[type="date"] {
    background-color: transparent;
    background-image: none;
    border: none;
}

input[type="time"] {
    background-color: transparent;
    background-image: none;
    border: none;
}

.baseui {
    background-color: transparent;
    box-shadow: 0 0 0 2px #000000 inset !important;
    color: #ffffff;
    background-image: none;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    border-radius: .28571429rem;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
}

#datetimes_button {
    display: block;
    margin: 0 auto;
}

#datetime_box {
    height: 220px;
    width: 340px;
    top: 150px;
    margin: 0 auto;
    display: block;
}

.hideme {
    opacity: 0;
}

#center-button-outer {
    height: 100%;
    position: relative;
}

#center-button-inner {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: x-large;
}

div.scroll {
    background-color: #11557C;
    width: 1100px;
    height: 400px;
    overflow: scroll;
    margin: 0 auto;
}

tr.day {
    padding-bottom: 2em;
}
