<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's Meet!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="/static/css/stylesheet.css"
    />
    <script rel="script" type="text/javascript"
            src="/static/js/moment.min.js">
    </script>
    <!--An open source UI framework-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
</head>
<body>
{% if jump %}
    <script>
        // scroll to element after authentication completes
        $(document).ready(function () {
            $('#form-datetime').fadeOut("slow", function () {
                $('#form-calendars').fadeIn("slow");
            });
            $('html, body').animate({
                scrollTop: $('#form-calendars').offset().top
            }, 'slow', 'linear');
        });
    </script>
{% endif %}
<div class="pages page1">
    <div class="container coversize">
        <div class="ui inverted segment rear">
            <a href="#page2">
                <button class="ui inverted blue button bullseye">
                    Schedule A Meeting
                </button>
            </a>
            <div class="ui input focus" style="top: 575px; display: flex; width: 250px; margin: 0 auto;">
                <input id="session_code" placeholder="Meeting code here..." type="text">
            </div>
        </div>
    </div>
</div>
<div class="pages page2 hideme" id="page2">
    <div class="container coversize">
        <div class="formbox" id="formele">
            <div class="form-datetime" id="form-datetime">
                <h3 style="padding: 10px;">Date Range</h3>
                <div class="ui form">
                    <div class="two fields" style="width: 95%; margin: 0 auto">
                        <div class="field">
                            <label>Start date</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="date" id="rangestartdate" value="2017-11-28">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>End date</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="date" id="rangeenddate" value="2017-11-29">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 style="padding: 10px;">Time Range</h3>
                <div class="ui form">
                    <div class="two fields" style="width: 95%; margin: 0 auto">
                        <div class="field">
                            <label>Start time</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="time icon"></i>
                                    <input type="time" id="rangestarttime" value="08:00">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>End time</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="time icon"></i>
                                    <input type="time" id="rangeendtime" value="20:00">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 style="padding: 10px">Event Span</h3>
                <div class="ui form">
                    <div class="field" style="width: 47.5%; margin: 10px">
                        <label>Duration</label>
                        <select class="ui search dropdown">
                            <option value="15">15 min</option>
                            <option value="30">30 min</option>
                            <option value="45">45 min</option>
                            <option value="60">1 h</option>
                            <option value="75">1 h 15 min</option>
                            <option value="90">1 h 30 min</option>
                            <option value="105">1 h 45 min</option>
                            <option value="120">2 h</option>
                            <option value="135">2 h 15 min</option>
                            <option value="150">2 h 30 min</option>
                            <option value="165">2 h 45 min</option>
                            <option value="180">3 h</option>
                            <option value="195">3 h 15 min</option>
                            <option value="210">3 h 30 min</option>
                            <option value="225">3 h 45 min</option>
                            <option value="240">4 h</option>
                            <option value="255">4 h 15 min</option>
                            <option value="270">4 h 30 min</option>
                            <option value="285">4 h 45 min</option>
                            <option value="300">5 h</option>
                        </select>
                    </div>
                </div>
                <div class="ui animated button" id="datetime_next"
                     style="position: absolute; left: 215px; bottom: 25px">
                    <div class="visible content">Next</div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </div>
            </div>
            <div class="form-calendars" id="form-calendars">
                {% if g.calendars is defined %}
                    <div class="row" style="position: absolute; top: 15px; left: 15px;">
                        <p>create a new meeting around events in these calendars.</p>
                        {% for cal in g.calendars if cal.selected %}
                            <div class="col-md-4" style="font-size: 1em">
            <span class="input-group-addon baseui" style="background-color: transparent;">
                <input name="select-calendar" type="checkbox" value="{{ cal }}">
            </span>
                                {{ cal.summary }}
                            </div>
                        {% endfor %}
                {% endif %}
                <div class="ui animated button" id="calendars_last"
                     style="position: absolute; left: 150px; bottom: -325px">
                    <div class="visible content">Last</div>
                    <div class="hidden content">
                        <i class="left arrow icon"></i>
                    </div>
                </div>
                <div class="ui animated button" id="calendars_next"
                     style="position: absolute; left: 280px; bottom: -325px">
                    <div class="visible content">Next</div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // TODO: Update date and time range, if the values are different.
    // TODO: Ability to delete schedule
    // TODO: Implement a hard reset button so user can create new schedule.
    // TODO: Build user-side manipulation capabilities for the table?
    $(document).ready(function () {
        let SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        let SELECT_URL = SCRIPT_ROOT + "/select";
        let SET_RANGE_URL = SCRIPT_ROOT + "/set_range";
        let CHECK_CODE = SCRIPT_ROOT + "/check_code";
        // handles session code submissions
        $("#session_code").keypress(function (event) {
            if (event.which === 13) {
                console.log($(this).val());
                console.log(typeof $(this).val());
                $.ajax({
                    url: CHECK_CODE,
                    data: {session_code: $(this).val()},
                    success: function (data) {
                        if (data.result) {
                            window.location.assign(data.redirect);
                        } else {
                            alert("session code not found");
                        }
                    }
                })
            }
        });
        // sends the dates and times to the server and redirect the user to get authenticated.
        // server uses the dates and times to fetch for contained events.
        $("#datetime_next").click(function (event) {
            event.preventDefault();
            try {
                let begin_datetime = moment($('#rangestartdate').val() + " " + $('#rangestarttime').val()).local();
                let end_datetime = moment($('#rangeenddate').val() + " " + $('#rangeendtime').val()).local();
                let time_diff_hour = moment.utc(moment(end_datetime, "DD/MM/YYYY HH:mm:ss").diff(moment(begin_datetime, "DD/MM/YYYY HH:mm:ss"))).hours();
                let time_diff_minute = moment.utc(moment(end_datetime, "DD/MM/YYYY HH:mm:ss").diff(moment(begin_datetime, "DD/MM/YYYY HH:mm:ss"))).minutes();
                if (time_diff_minute < 15) {
                    if (time_diff_hour <= 0) {
                        alert("Time difference must be at minimum 15 minutes.");
                        return
                    }
                } else if (time_diff_minute % 15 != 0) {
                    alert("Time difference must be divisible by 15.");
                    return
                }
                $('#form-datetime').fadeOut("slow", function () {
                    $('#form-calendars').fadeIn("slow");
                });
                $.ajax({
                    url: SET_RANGE_URL,
                    data: {begin_datetime: begin_datetime.format(), end_datetime: end_datetime.format()},
                    success: function (data) {
                        if (data.redirect) {
                            window.location.assign(data.redirect);
                        }
                    }
                })
            }
            catch (err) {
                alert(err);
            }
        });
        // this keeps track of the selected calendars
        let checked_set = new Set([]);
        $(".col-md-4 :checkbox").change(
            function () {
                if (this.checked) {
                    checked_set.add($(this).val());
                } else {
                    checked_set.delete($(this).val());
                }
            });
        // this sends the selected calendars to the server
        $("#calendars_next").click(function (event) {
            event.preventDefault();
            if (checked_set.size === 0) {
                return
            }
            let set_to_list = [];
            for (let it = checked_set.values(), val = null; val = it.next().value;) {
                set_to_list.push(val);
            }
            $.ajax({
                url: SELECT_URL,
                data: {calendars: JSON.stringify(set_to_list)},
                success: function (data) {
                    window.location.replace(data.redirect + data.token)
                }
            })
        });
        // Jump to form if button is clicked...
        $(function () {
            $('a[href*=#]').on('click', function (e) {
                e.preventDefault();
                $(this).animate({
                    'opacity': '1'
                });
                $('html, body').animate({scrollTop: $($(this).attr('href')).offset().top}, 1200, 'linear');
            });
        });
        // Taken from http://jsfiddle.net/e5qaD/1151/
        $(window).on('scroll');
        let status = [];
        //Every time the window is scrolled...
        $(window).scroll(function () {
            /* Check the location of each desired element */
            $('.hideme').each(function (i, el) {
                if (status[i] !== 'showing') { // Makes sure that we haven't already done this item
                    let bottom_of_object = $(this).position().top + $(this).outerHeight();
                    let bottom_of_window = $(window).scrollTop() + $(window).height();
                    /* If the object is completely visible in the window, fade it it */
                    if (bottom_of_window > bottom_of_object) {
                        $(this).animate({'opacity': '1'}, 1200);
                        status[i] = 'showing';
                        if ($('.hideme').index($(this)) + 1 === $('.hideme').length) {
                            // We've shown them all, stop listening for scroll events!!!
                            $(window).off('scroll');
                        }
                    }
                }
            });
        });
        // hides the calendar form when page loads
        $('#form-calendars').hide();
        // shows the calendar form when next is clicked inside datetime form
        {#        $('#datetime_next').click(function (event) {#}
        {#            event.preventDefault();#}
        {##}
        {#        });#}
        // shows the datetime form when last is clicked inside calendar form
        $('#calendars_last').click(function (event) {
            event.preventDefault();
            $('#form-calendars').fadeOut("slow", function () {
                $('#form-datetime').fadeIn("slow");
            })
        });
    });
</script>
</body>
</html>