<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
    <title>Let's Meet!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="/static/css/busy.css"
    />
    <!--An open source UI framework-->
    <link rel="stylesheet" type="text/css"
          href="/static/UI-Button/button.min.css"
    />
    <link rel="stylesheet" type="text/css"
          href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
    />
    <!-- jquery from a content distribution network; probably cached -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
</head>
<body>
{% if jump %}
    <script>
        window.onload = function () {
            const jump = "{{ jump }}";
            console.log("got into here!");
            console.log(jump);
            console.log(typeof jump);
            $("#datetime_box").animate({
                'opacity': '0'
            });
            $(jump).animate({
                'opacity': '1'
            });
            $(jump)[0].scrollIntoView();
        }
    </script>
{% endif %}
<div id="page1" class="pages">
    <a id="front"></a>
    <div class="ui inverted segment" id="center-button-outer">
        <a href="#page2">
            <button class="ui inverted blue button" id="center-button-inner">
                Schedule A New Meeting
            </button>
        </a>
    </div>
</div>
<div id="page2" class="pages hideme">
    <div class="container baseui" id="datetime_box">
        <table style="margin: 0 auto 30px auto">
            <tr>
                <th style="color:white;">Begin and End Date(s)</th>
            </tr>
            <tr>
                <td><input type=date name="begin_date" id="begin_date" value="2017-11-25"/></td>
                <td><input type=date name="end_date" id="end_date" value="2017-11-29"/></td>
            </tr>
            <tr>
                <th style="color:white;">Begin and End Times</th>
            </tr>
            <tr>
                <td><input type=time name="begin_time" id="begin_time" value="08:00"/></td>
                <td><input type=time name="end_time" id="end_time" value="13:00"/></td>
            </tr>
        </table>
        <button type="submit" class="positive ui button" id="datetimes_button">Next <i class="arrow right"></i></button>
    </div>
    <div class="container baseui" id="calendar_box">
        {% if g.calendars is defined %}
            <div class="row" style="margin: 0 auto 30px auto;">
                {% for cal in g.calendars if cal.selected %}
                    <div class="col-md-4" style="font-size: 0.75em">
            <span class="input-group-addon baseui" style="background-color: transparent;">
                <input name="select-calendar" type="checkbox" value="{{ cal }}">
            </span>
                        {{ cal.summary }}
                    </div>
                    {% if loop.index is divisibleby 3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        {% endif %}
        <button type="submit" class="positive ui button" id="good_calendars">Next<i class="arrow right"></i></button>
    </div>

</div>
<script>
    // TODO: Push URLs onto history stack.
    let SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    let SELECT_URL = SCRIPT_ROOT + "/select";
    let SET_RANGE_URL = SCRIPT_ROOT + "/set_range";

    $(function () {
        // Every time the front page button is clicked...
        $('a[href*=#]').on('click', function (e) {
            e.preventDefault();
            $(this).animate({
                'opacity': '1'
            });
            $('html, body').animate({scrollTop: $($(this).attr('href')).offset().top}, 1000, 'linear');
        });
    });

    // Taken from http://jsfiddle.net/e5qaD/1151/
    $(document).ready(function () {
        $(window).on('scroll');
        let status = [];
        //Every time the window is scrolled...
        $(window).scroll(function () {
            /* Check the location of each desired element */
            $('.hideme').each(function (i, el) {
                if (status[i] !== 'showing') { // Makes sure that we haven't already done this item
                    let bottom_of_object = $(this).position().top + $(this).outerHeight();
                    let bottom_of_window = $(window).scrollTop() + $(window).height();
                    /* If the object is completely visible in the window, fade it it */
                    if (bottom_of_window > bottom_of_object) {
                        $(this).animate({'opacity': '1'}, 1000);
                        status[i] = 'showing';
                        if ($('.hideme').index($(this)) + 1 === $('.hideme').length) {
                            // We've shown them all, stop listening for scroll events!!!
                            $(window).off('scroll');
                        }
                    }
                }
            });
        });
    });

    let checked_set = new Set([]);
    $(".col-md-4 :checkbox").change(
        function () {
            if (this.checked) {
                checked_set.add($(this).val());
            } else {
                checked_set.delete($(this).val());
            }
        });

    $("#good_calendars").click(function (event) {
        event.preventDefault();
        if (checked_set.size === 0) {
            return
        }
        let set_to_list = [];
        for (let it = checked_set.values(), val = null; val = it.next().value;) {
            set_to_list.push(val);
        }
        $.ajax({
            url: SELECT_URL,
            data: {calendars: JSON.stringify(set_to_list)},
            success: function (data) {
                window.location.replace(data.redirect + data.token)
            }
        })
    });

    $("#datetimes_button").click(function (event) {
        event.preventDefault();
        try {
            let begin_datetime = moment($('#begin_date').val() + " " + $('#begin_time').val()).local();
            let end_datetime = moment($('#end_date').val() + " " + $('#end_time').val()).local();
            let time_diff = end_datetime.diff(begin_datetime, 'minutes');
            if (time_diff < 15) {
                alert("Time difference must be at minimum 15 minutes.");
                return
            }
            $.ajax({
                url: SET_RANGE_URL,
                data: {begin_datetime: begin_datetime.format(), end_datetime: end_datetime.format()},
                success: function (data) {
                    if (data.redirect) {
                        window.location.replace(data.redirect)
                    }
                }
            })
        }
        catch (err) {
            alert(err);
        }
    });
</script>
</body>
</html>