<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's Meet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="/static/css/stylesheet.css"
    />
    <script rel="script" type="text/javascript"
            src="/static/js/moment.min.js">
    </script>
    <!--An open source UI framework-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>


</head>
<body style="width: 100%; overflow: visible">
{% if session.event_name %}
    <h1>Event Name Goes Here</h1>
{% endif %}
{% if session.schedule_exists %}
    <button class="ui secondary button" id="get_calendars" style="float: right;">
        Invited? Click here to include your calendar events
    </button>
{% endif %}
{% if session.schedule_exists %}
    {% for day in session.blocks %}
        {% for key, value in day.items() %}
            <table class="ui compact celled definition table">
                <thead>
                <tr>
                    <th>Prefer</th>
                    <th>Date</th>
                    {% for i in value %}
                        <th>{{ i[0] }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                    </td>
                    <td>{{ key }}</td>
                    {% for i in value %}
                        {% if not i[1] %}
                            <td bgcolor="#006400"></td>
                        {% else %}
                            <td bgcolor="#000000"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </tbody>
                <tfoot class="full-width">
                </tfoot>
            </table>
        {% endfor %}
    {% endfor %}
{% else %}
    <p>Oops the page doesn't exist.</p>
{% endif %}
{% if session.token %}
    <h4>Your schedule session code: {{ session.token }}</h4>
    <p>Use this code to invite your friends!</p>
{% endif %}
<script>
    // Session code has been verified.
    // User can append new events to the table
    $(document).ready(function () {
        let SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        let SELECT_URL = SCRIPT_ROOT + "/select";
        let SET_RANGE_URL = SCRIPT_ROOT + "/set_range";
        let begin_datetime = '{{ session.schedule_b_datetime }}';
        let end_datetime = '{{ session.schedule_e_datetime }}';
        $("#get_calendars").click(function (event) {
            event.preventDefault();
            $.ajax({
                url: SET_RANGE_URL,
                data: {begin_datetime: begin_datetime, end_datetime: end_datetime},
                success: function (data) {
                    if (data.redirect) {
                        window.location.assign(data.redirect);
                    }
                }
            })

        });
    })
</script>
</body>
</html>