<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
    <title>Appointments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css"
          href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
    />


    <link rel="stylesheet" type="text/css"
          href="/static/css/busy.css"
    />

    <!-- jquery from a content distribution network; probably cached -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Ideally the rest of our javascript dependencies would be
         bundled and minified with 'browserify', but I've found that
         it difficult to handle browserify dependencies for class
         projects.  So, we'll pick up moment and a date range picker
         from CDNs instead.
    -->

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
</head>

<body>
<div class="container">
    <!--
      -- If there are any warnings or other messages from a prior action,
      -- they appear above the rest of the content, just until the next
      -- action.
      -->
     <button type="submit" id="restart_button">Click here to restart</button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2>Date and Time Range</h2>
    <div class="container">
        <div class="col-md-6">
            <label>Begins at</label>
            <input type=date name="begin_date" id="begin_date" value="2017-11-25"/>
            <input type=time name="begin_time" id="begin_time" value="08:00"/>
        </div>
        <div class="col-md-6">
            <label>Ends at</label>
            <input type=date name="end_date" id="end_date" value="2017-11-29"/>
            <input type=time name="end_time" id="end_time" value="13:00"/>
        </div>
        <button type="submit" id="datetimes_button">Confirm the Datetimes</button>
    </div>
    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
    {% if g.calendars is defined %}
        <button type="submit" id="good_calendars">Confirm Calendars</button>

        <div class="row">
            {% for cal in g.calendars if cal.selected %}
                <div class="col-md-4">
            <span class="input-group-addon">
                <input name="select-calendar" type="checkbox" value="{{ cal }}">
            </span>
                    {{ cal.summary }}
                </div>
                {% if loop.index is divisibleby 3 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
    {% endif %}

    <div class=scroll id="events">
    </div>


</div>  <!-- container (for bootstrap) -->
<script type="text/javascript">
    let SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    let SELECT_URL = SCRIPT_ROOT + "/select";
    let SET_RANGE_URL = SCRIPT_ROOT + "/set_range";

    let checked_set = new Set([]);
    $(".col-md-4 :checkbox").change(
        function () {
            if (this.checked) {
                checked_set.add($(this).val());
            } else {
                checked_set.delete($(this).val());
            }
        });

    $("#good_calendars").click(function (event) {
        event.preventDefault();
        if (checked_set.size === 0) {
            return
        }
        let set_to_list = [];
        for (let it = checked_set.values(), val = null; val = it.next().value;) {
            set_to_list.push(val);
        }
        $.ajax({
            url: SELECT_URL,
            data: {calendars: JSON.stringify(set_to_list)},
            success: function (data) {
                let start_t = data.bounds[0];
                let end_t = data.bounds[1];
                let $table = $('<table>');
                for (let i = 0; i < data.blocks.length; i++){
                    for (let key in data.blocks[i]) {
                        if (data.blocks[i].hasOwnProperty(key)){
                            if (i === 0){
                                let begin = moment(key + " " + start_t);
                                start_t = begin.format('HH:mm');
                                let end = moment(key + " " + end_t);
                                end_t = end.format('HH:mm');
                            }
                            let $tr = $('<tr class="day">');
                            $tr.append(
                                $('<th>').text("<" + key + ">: ")
                            );
                            $tr.append(
                                $('<th>').text(start_t),
                                $('<th>').text("--")

                            );
                            let events = Object.values(data.blocks[i]);
                            for (let n = 0; n < events.length; n++){
                                console.log("For i=" + i + " " + "events: ");
                                for (let m = 0; m < events[n].length; m++){
                                    let e_summary = null;
                                    let e_start = null;
                                    let e_end = null;
                                    for (let p = 0; p < events[n][m].length; p++){
                                        if ("summary" in events[n][m][p]){
                                            e_summary = events[n][m][p]['summary']
                                        }else if ("start" in events[n][m][p]){
                                            e_start = moment(events[n][m][p]['start']['dateTime']).format("hh:mm");
                                        }else if ("end" in events[n][m][p]){
                                            e_end = moment(events[n][m][p]['end']['dateTime']).format("hh:mm");
                                        }
                                    }
                                    if (e_start){
                                        $tr.append(
                                            $('<th>').text($.trim("--" + e_start + "[" + "(busy)" + e_summary + "]" + e_end + "--"))
                                        )
                                    }
                                }
                            }
                            $tr.append(
                                $('<th>').text(end_t)
                            );
                            $table.append($tr);
                        }
                    }
                }
                $("#events").append($table);
            }
        })
    });

    $("#datetimes_button").click(function (event) {
        event.preventDefault();
        try {
            let begin_datetime = moment($('#begin_date').val() + " " + $('#begin_time').val()).local();
            let end_datetime = moment($('#end_date').val() + " " + $('#end_time').val()).local();
            let time_diff = end_datetime.diff(begin_datetime, 'minutes');
            if (time_diff < 15) {
              alert("Time difference must be at minimum 15 minutes.");
              return
            }
            $.ajax({
                url: SET_RANGE_URL,
                data: {begin_datetime: begin_datetime.format(), end_datetime: end_datetime.format()},
                success: function (data) {
                    if (data.redirect) {
                        window.location.replace(data.redirect)
                    } else {
                        alert("Server failed to deliver redirect url to Ajax call.")
                    }
                }
            })
        }
        catch (err) {
            alert(err);
        }
    });

    $("#restart_button").click(function (event) {
        event.preventDefault();
        location.reload(true);
    })
</script>
</body>
</html>
